body{
    background-color: #1E201E;
}
header{
  text-align: center;
  font-size: 2rem;
  background-color: #3C3D37;
  color: #ccc;
}
input{
 text-align: center;
}
button{
    font-size: 2rem;
}
#limpador{
    margin: 20px;
}
#body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 90vh;           
    margin: 0;               
  }
#visor{
    height: 35px;
    background-color: aqua;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #3C3D37;
    text-align: right;
    padding: 5px;
    font-size: 25px;
}
#container{
    width: fit-content;
      height: 500px;
      background-color: #697565;
      border: 1px solid #ccc;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      padding: 10px;
}
#bts{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}