body{
    background-color: #2E073F;
    text-align: center;
}
header{
    background-color: #EBD3F8;
    border-radius: 7px;
    color: #7A1CAC;
}
footer{
    font-size: 0.5rem;
}
h1{
    background-color:#7A1CAC;
    color: #EBD3F8;
    border-radius: 7px;
    width:fit-content;
    margin-inline-start: 43% ;
}
p{
    background-color:#7A1CAC;
    color: #EBD3F8;
    border-radius: 7px;
}
footer{
    color: #EBD3F8;
}
button{
    margin-inline-start: 10px;
    padding: 5px;
}
#primeiroBotao{
    margin-top: 20px;
}
img {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: 10; 
}